# Временные файлы Jupyter Notebook
.ipynb_checkpoints/
__pycache__/

# Файлы с чувствительными данными (создадим на следующем шаге)
.env

# Файлы с паролями и ключами (общий случай)
config.py
secrets.json

# Файлы операционных систем
.DS_Store
Thumbs.db

# Логи и кэш
*.log
.pytest_cache/